node_modules/
packages/*/node_modules/
packages/*/dist/
packages/*/test-results/
packages/*/playwright-report/
packages/*/build/
packages/*/*.egg-info/
.artifacts/
.donotpush/
.venv*/
site/
.DS_Store
__pycache__/
