# Log files
logs/*

# Raw topology files
rawTopoFile/clab/**
rawTopoFile/license.txt
rawTopoFile/topo-vf-hco-ip-certification.yml
rawTopoFile/clab-topoViewerDemo/**

# Configuration files
config/**

# Build artifacts
webpack.config.js
.babelrc
package-lock.json
package.json

# Go tools
go_tools/ygot/**

# HTML templates
html-static/template/clab/button.tmpl

# Node modules
node_modules/**

# Archive files
_archive/**

# Public HTML files
html-public/**

# Miscellaneous
README-copy.md
README-copy2.md
README-02.md

# Cache files
.cache/**

# Clab files
clab-3tierSmall/**

# Go topoengine command files
go_topoengine/cmd/**