# TiMOS-C-23.10.R1 cpm/x86_64 Nokia 7750 SR Copyright (c) 2000-2023 Nokia.
# All rights reserved. All use subject to applicable license agreements.
# Built on Thu Oct 26 20:12:19 UTC 2023 by builder in /builds/2310B/R1/panos/main/sros
# Configuration format version 23.10 revision 0

# Generated 2024-08-06T15:39:23.0+00:00 by admin from 172.31.255.29
# Last modified 2024-07-18T18:58:24.3+00:00 by admin (MD-CLI) from 172.31.255.29
# Last saved 2024-07-18T18:58:28.6+00:00 by admin from 172.31.255.29

configure {
    log {
        filter "1001" {
            named-entry "10" {
                description "Collect only events of major severity or higher"
                action forward
                match {
                    severity {
                        gte major
                    }
                }
            }
        }
        log-id "99" {
            description "Default System Log"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
        log-id "100" {
            description "Default Serious Errors Log"
            filter "1001"
            source {
                main true
            }
            destination {
                memory {
                    max-entries 500
                }
            }
        }
    }
    system {
        name "R13-P"
        grpc {
            admin-state enable
            allow-unsecure-connection
            gnmi {
                auto-config-save true
            }
            rib-api {
                admin-state enable
            }
        }
        management-interface {
            netconf {
                admin-state enable
                auto-config-save true
            }
            snmp {
                packet-size 9216
                streaming {
                    admin-state enable
                }
            }
        }
        bluetooth {
            advertising-timeout 30
        }
        login-control {
            ssh {
                inbound-max-sessions 30
            }
        }
        security {
            aaa {
                local-profiles {
                    profile "administrative" {
                        default-action permit-all
                        entry 10 {
                            match "configure system security"
                            action permit
                        }
                        entry 20 {
                            match "show system security"
                            action permit
                        }
                        entry 30 {
                            match "tools perform security"
                            action permit
                        }
                        entry 40 {
                            match "tools dump security"
                            action permit
                        }
                        entry 42 {
                            match "tools dump system security"
                            action permit
                        }
                        entry 50 {
                            match "admin system security"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                        entry 110 {
                            match "show li"
                            action deny
                        }
                        entry 111 {
                            match "clear li"
                            action deny
                        }
                        entry 112 {
                            match "tools dump li"
                            action deny
                        }
                        netconf {
                            base-op-authorization {
                                action true
                                cancel-commit true
                                close-session true
                                commit true
                                copy-config true
                                create-subscription true
                                delete-config true
                                discard-changes true
                                edit-config true
                                get true
                                get-config true
                                get-data true
                                get-schema true
                                kill-session true
                                lock true
                                validate true
                            }
                        }
                    }
                    profile "default" {
                        entry 10 {
                            match "exec"
                            action permit
                        }
                        entry 20 {
                            match "exit"
                            action permit
                        }
                        entry 30 {
                            match "help"
                            action permit
                        }
                        entry 40 {
                            match "logout"
                            action permit
                        }
                        entry 50 {
                            match "password"
                            action permit
                        }
                        entry 60 {
                            match "show config"
                            action deny
                        }
                        entry 65 {
                            match "show li"
                            action deny
                        }
                        entry 66 {
                            match "clear li"
                            action deny
                        }
                        entry 67 {
                            match "tools dump li"
                            action deny
                        }
                        entry 68 {
                            match "state li"
                            action deny
                        }
                        entry 70 {
                            match "show"
                            action permit
                        }
                        entry 75 {
                            match "state"
                            action permit
                        }
                        entry 80 {
                            match "enable-admin"
                            action permit
                        }
                        entry 90 {
                            match "enable"
                            action permit
                        }
                        entry 100 {
                            match "configure li"
                            action deny
                        }
                    }
                }
            }
            ssh {
                server-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                }
                client-cipher-list-v2 {
                    cipher 190 {
                        name aes256-ctr
                    }
                    cipher 192 {
                        name aes192-ctr
                    }
                    cipher 194 {
                        name aes128-ctr
                    }
                    cipher 200 {
                        name aes128-cbc
                    }
                    cipher 205 {
                        name 3des-cbc
                    }
                    cipher 225 {
                        name aes192-cbc
                    }
                    cipher 230 {
                        name aes256-cbc
                    }
                }
                server-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
                client-mac-list-v2 {
                    mac 200 {
                        name hmac-sha2-512
                    }
                    mac 210 {
                        name hmac-sha2-256
                    }
                    mac 215 {
                        name hmac-sha1
                    }
                    mac 220 {
                        name hmac-sha1-96
                    }
                    mac 225 {
                        name hmac-md5
                    }
                    mac 240 {
                        name hmac-md5-96
                    }
                }
            }
            user-params {
                attempts {
                    count 64
                }
                local-user {
                    user "admin" {
                        password "$2y$10$TQrZlpBDra86.qoexZUzQeBXDY1FcdDhGWdD9lLxMuFyPVSm0OGy6"
                        access {
                            console true
                            ftp true
                            snmp true
                            netconf true
                            grpc true
                        }
                        console {
                            member ["administrative"]
                        }
                        public-keys {
                            rsa {
                                rsa-key 32 {
                                    key-value "AAAAB3NzaC1yc2EAAAADAQABAAABgQC+vD2hEumYHThfFLgYOzf39AIs/SvimTRPGLbCQneljULJdsyUT09R4UuUWuWWzwcielVdAHWupTNjtJFq/tZYg8MOP6crCtXMBPMWn/KZznSdlKmLD1sEe8TUfXIP2m/rhrr8iR4HHAbCXpg4azCcxHSoNT4D0xeGN9nOs6HrarQ+0o2NGrXHvTjswAzSW+eI2ca3QG8Zmu5RSr42F+mSbmRoahykS6j/Y/4mBHgTcIEcKOa/Uwx+FNvJl6ykFlWbaSfdeRYVvZ1vrgrGEMjjhciXq8+7nigZSxg7j5x9vUp4dqDGV5fCK9BkIelOirYoy+Nl8rlXCq1/+WT78Mo5qFpr29INYa4eR3JPzobNz5ABOJyHCZRsjjGK3toodtp6459QBkXYddh1W6v8Gy8U3ZmpHbzZ6xr60wgB3jLrgek/pzb7XOOmeXBVpn0Gt+32AnkgCyxq+0Bp+RjXOv47UqVdZ8MWAMhHHBL0SWa7DikyahnkSZ9UmxtaOC0U1/c="
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

persistent-indices {
    description "Persistent indices are maintained by the system and must not be modified."
}

# Finished 2024-08-06T15:39:23.1+00:00
