## Last commit: 2024-08-06 15:59:08 UTC by admin
version 17.4R3.16;
system {
    host-name R12-P;
    root-authentication {
        encrypted-password "$6$9BmwUD4L$ji3HxcXTWOLoH.M6kzyjv0J6/AsStVOu.Ghi7P7dZrcOIzahhBYTUwQoun0jhg5BvKXF4/sNuSNWm1L0THBuR/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$4xn3b119$AoAaZCKnUlkexlvIf/OK2oaDMsL0Mr/SK9wlZ5Gr1UwbJh0s92enYEIxaHIP/UUfldMFDxaJ0uN7KBdqtLkpH1"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
            connection-limit 25;
        }
        telnet {
            connection-limit 25;
        }
        extension-service {
            request-response {
                grpc {
                    clear-text {
                        port 57400;
                    }
                    max-connections 4;
                    skip-authentication;
                }
            }
        }
        netconf {
            ssh {
                connection-limit 25;
                port 830;
            }
            rfc-compliant;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 96;
        }
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.1.1.12/32;
            }
        }
    }
}
snmp {
    location "Nokia Lab";
    community private {
        authorization read-write;
    }
    trap-group private {
        version v2;
        destination-port 162;
        categories {
            chassis;
            link;
            routing;
            startup;
            configuration;
            services;
        }
    }
}
